@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared */
.web-width{
    width: 75%;
    max-width: 1100px;
    margin: 0 auto;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.text-align{
    text-align: center;
}
.primary-btn{
    padding: .8rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #FF5959;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 18px;
}


/* heading start */
.heading{
    background:linear-gradient(0deg, #121212, #12121200), url("../images/donation1.jpg");
    background-size: cover;
    min-height: 524px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-container{
    max-width: 619px;
    margin: 0 auto;
    
}
.heading-title{
    color: white;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}
.heading-description{
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.3rem;
    margin-top: 18px;
}



/* media query */
@media screen and (max-width:576px) {
    .heading-title{
        font-size: 2rem;
    }
    .heading-description{
        font-size: 0.5rem;
    }
}