@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared */
.web-width {
    width: 75%;
    max-width: 1100px;
    margin: 0 auto;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}
.lobster{
  font-family: "Lobster", sans-serif;
}

.text-align {
    text-align: center;
}

.primary-btn {
    padding: .8rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #FF5959;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 18px;
}

.white {
    color: white;
}

.black {
    color: black !important;
}

/* shared */

/* heading start */
.heading {
    background: linear-gradient(0deg, #121212, #12121200), url("../images/donation1.jpg");
    background-size: cover;
    min-height: 524px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 97px;
}

.heading-container {
    max-width: 619px;
    margin: 0 auto;

}

.heading-title {
    color: white;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.heading-description {
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.3rem;
    margin-top: 18px;
}

/* heading end */

/* donate start */
.donate {
    margin-bottom: 97px;
}

.donate-taka-container {
    margin-top: 38px;
}

.taka {
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #FAFAFA;
    padding: 30px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
}

.donate-taka {
    max-width: 573px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 11px;
}

.taka-two {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

.other-amount {
    color: #B3B3B3 !important;
}

.horizontal {
    max-width: 573px;
    margin: 0 auto;
    color: #DADADA;
    margin-top: 7px;
}

/* donate end */

/* donate plan start */
.donate-plan {
    margin-bottom: 97px;
}

.donate-plan-card {
    max-width: 270px;
    min-height: 267px;
    background-color: rgba(79, 157, 166, 0.1);
    padding: 40px 16px;
    border-radius: 5px;
    margin-top: 37px;
    margin-bottom: 97px;
}

.card-two {
    background-color: rgba(255, 89, 89, 0.1);
}

.card-tree {
    background-color: #FFF4D6;
}

.donate-plan-card h4 {
    margin-bottom: 12px;
    margin-top: 23px;
}

.donate-plan-card p {
    font-size: .8rem;
    font-weight: 400;
    color: #707070;
}

.donate-plan-card-container {
    display: flex;
    justify-content: space-between;
}

/* donate plan end */
/* donate plan secand star */
.donation-update-title {
    color: white;
    font-weight: 700;
    font-size: 3rem;
}

.donation-update-description {
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin-top: 18px;
}

.content {
    max-width: 369px;
    flex: 1;
}

.donation-update-container {
    margin: 97px 0;
    display: flex;
    gap: 62px;
    align-items: center;
}

.image {

    flex: 1;
}

.image img {
    width: 100%;
    border-radius: 10px;
}

.order-one {
    order: 1;
}

.order-two {
    order: 2;
}
/* donate plan secand end */

/* updates start */
.updates{
    margin-bottom: 97px;
}
.heading-description{
    margin-bottom: 37px;
}
.subscribe-container{
    max-width: 606px;
    margin: 0 auto;
    background-color: #FFF4D6;
}
form{
    max-width: 324px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 57px 0;
}
form input[type="email"], input[type="button"] {
    padding: 10px 12px;
    border: none;
    outline: none;
}
form input[type="email"]{
    
    border-radius: 5px 0 0 5px;
    background-color: #D9D9D9;
    font-size: 1rem;
    font-weight: 400;
}
form input[type="button"] {
    border-radius: 0 5px 5px 0;
    background-color: #FF5959;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}
/* updates end */

/* footer start*/
.footer-container{
    background-color: black;
    color: white;
    text-align: center;
    padding: 32px 0;
}
.lobster{
    color: #FF5959;
    font-size: 1.8rem;
    margin-bottom: 18px;
}
/* footer end*/




/* media query */
@media screen and (max-width: 576px) {
    .heading-title {
        font-size: 2rem;
    }

    .heading-description {
        font-size: 0.5rem;
    }

    .donate-taka {
        grid-template-columns: repeat(2, 1fr);
    }

    .taka-last {
        grid-column: span 2;
    }

    .donate-plan-card-container,
    .donation-update-container {
        flex-direction: column;
        align-items: center;
    }

    .order-one {
        order: 2;
    }

    .order-two {
        order: 1;
    }
}